* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --bg-color: #000a0f;
  --bg-nav: #001722;
  --bg-hover: #002f44;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  font-size: 1.6rem;

  background-color: var(--bg-color);

  position: relative;
  min-height: 100vh;
}

nav {
  color: white;
  max-width: 42.5rem;
  margin: 0px auto;
  height: 100px;
  padding: 0px 10px 0px 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav::before {
  content: "";
  width: 100%;
  height: 100px;
  background-color: var(--bg-nav);
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo img {
  width: 30px;
}

.logo span {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

.logout {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logout span {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

.logout img {
  width: 30px;
}
