* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --bg-color: #000a0f;
  --bg-nav: #001722;
  --bg-hover: #002f44;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  font-size: 1.6rem;

  background-color: var(--bg-color);

  position: relative;
  min-height: 100vh;
}

body * {
  font-family: "Quicksand", sans-serif;
}

nav {
  color: white;
  max-width: 42.5rem;
  margin: 0px auto;
  height: 100px;
  padding: 0px 10px 0px 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav::before {
  content: "";
  width: 100%;
  height: 100px;
  background-color: var(--bg-nav);
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo img {
  width: 30px;
}

.logo span {
  font-size: 20px;

  font-weight: 700;
}

.logout {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logout span {
  font-size: 16px;

  font-weight: 700;
}

.logout img {
  width: 24px;
  display: flex;
}

main h1 {
  color: white;
  text-align: center;
  margin: 3.2rem 0rem 3.2rem;
}

main.menu {
  padding: 0rem 2.4rem;
  max-width: 42.5rem;
  margin: 0rem auto;
}

main a {
  color: #505050;
}

.option {
  max-width: 400px;
  margin: 0px auto;
  cursor: pointer;
}

.title {
  width: 100%;
  background: #fff;
  padding: 14px;
  margin-bottom: -10px;
  border-radius: 4px;
  position: relative;
  /* box-shadow: 0 0 0px -10px #ffffff; */
  color: #5f5f5f;

  transition: background 200ms, transform 200ms;

  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1_54)'%3E%3Cpath d='M8 10L12 14L16 10' stroke='gray' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1_54'%3E%3Crect width='24' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: right 1.6rem top 50%;
}

.title:hover {
  background: var(--bg-hover);
  transform: scale(1.05);
  color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 30px -10px #000;

  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1_54)'%3E%3Cpath d='M8 10L12 14L16 10' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1_54'%3E%3Crect width='24' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: right 1.6rem top 50%;
}

.menu span.name {
  font-size: 16px;
  font-weight: 500;
}

.menu span.fa {
  float: right;
  font-size: 18px !important;
}

.add {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='gray' viewBox='0 0 256 256'%3E%3Cpath d='M128,24A104,104,0,1,0,232,128,104.11,104.11,0,0,0,128,24Zm0,192a88,88,0,1,1,88-88A88.1,88.1,0,0,1,128,216Zm48-88a8,8,0,0,1-8,8H136v32a8,8,0,0,1-16,0V136H88a8,8,0,0,1,0-16h32V88a8,8,0,0,1,16,0v32h32A8,8,0,0,1,176,128Z'%3E%3C/path%3E%3C/svg%3E");

  background-repeat: no-repeat;
  background-position: right 1.6rem top 50%;
}

.dropdown .add:hover,
.drop .add:hover,
.func .add:hover {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='white' viewBox='0 0 256 256'%3E%3Cpath d='M128,24A104,104,0,1,0,232,128,104.11,104.11,0,0,0,128,24Zm0,192a88,88,0,1,1,88-88A88.1,88.1,0,0,1,128,216Zm48-88a8,8,0,0,1-8,8H136v32a8,8,0,0,1-16,0V136H88a8,8,0,0,1,0-16h32V88a8,8,0,0,1,16,0v32h32A8,8,0,0,1,176,128Z'%3E%3C/path%3E%3C/svg%3E");

  background-repeat: no-repeat;
  background-position: right 1.6rem top 50%;
}

.lupa {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='22' fill='gray' viewBox='0 0 256 256'%3E%3Cpath d='M229.66,218.34l-50.07-50.06a88.11,88.11,0,1,0-11.31,11.31l50.06,50.07a8,8,0,0,0,11.32-11.32ZM40,112a72,72,0,1,1,72,72A72.08,72.08,0,0,1,40,112Z'%3E%3C/path%3E%3C/svg%3E");

  background-repeat: no-repeat;
  background-position: right 1.6rem top 50%;
}

.dropdown .lupa:hover,
.drop .lupa:hover,
.func .lupa:hover {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='22' fill='white' viewBox='0 0 256 256'%3E%3Cpath d='M229.66,218.34l-50.07-50.06a88.11,88.11,0,1,0-11.31,11.31l50.06,50.07a8,8,0,0,0,11.32-11.32ZM40,112a72,72,0,1,1,72,72A72.08,72.08,0,0,1,40,112Z'%3E%3C/path%3E%3C/svg%3E");

  background-repeat: no-repeat;
  background-position: right 1.6rem top 50%;
}

.folha .relogio {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='gray' viewBox='0 0 256 256'%3E%3Cpath d='M128,32a96,96,0,1,0,96,96A96.11,96.11,0,0,0,128,32Zm0,176a80,80,0,1,1,80-80A80.09,80.09,0,0,1,128,208ZM61.66,29.66l-32,32A8,8,0,0,1,18.34,50.34l32-32A8,8,0,1,1,61.66,29.66Zm176,32a8,8,0,0,1-11.32,0l-32-32a8,8,0,0,1,11.32-11.32l32,32A8,8,0,0,1,237.66,61.66ZM184,120a8,8,0,0,1,0,16H128a8,8,0,0,1-8-8V72a8,8,0,0,1,16,0v48Z'%3E%3C/path%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 1.6rem top 50%;
}

.folha .relogio:hover {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='white' viewBox='0 0 256 256'%3E%3Cpath d='M128,32a96,96,0,1,0,96,96A96.11,96.11,0,0,0,128,32Zm0,176a80,80,0,1,1,80-80A80.09,80.09,0,0,1,128,208ZM61.66,29.66l-32,32A8,8,0,0,1,18.34,50.34l32-32A8,8,0,1,1,61.66,29.66Zm176,32a8,8,0,0,1-11.32,0l-32-32a8,8,0,0,1,11.32-11.32l32,32A8,8,0,0,1,237.66,61.66ZM184,120a8,8,0,0,1,0,16H128a8,8,0,0,1-8-8V72a8,8,0,0,1,16,0v48Z'%3E%3C/path%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 1.6rem top 50%;
}

.folha .calc {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='gray' viewBox='0 0 256 256'%3E%3Cpath d='M80,120h96a8,8,0,0,0,8-8V64a8,8,0,0,0-8-8H80a8,8,0,0,0-8,8v48A8,8,0,0,0,80,120Zm8-48h80v32H88ZM200,24H56A16,16,0,0,0,40,40V216a16,16,0,0,0,16,16H200a16,16,0,0,0,16-16V40A16,16,0,0,0,200,24Zm0,192H56V40H200ZM100,148a12,12,0,1,1-12-12A12,12,0,0,1,100,148Zm40,0a12,12,0,1,1-12-12A12,12,0,0,1,140,148Zm40,0a12,12,0,1,1-12-12A12,12,0,0,1,180,148Zm-80,40a12,12,0,1,1-12-12A12,12,0,0,1,100,188Zm40,0a12,12,0,1,1-12-12A12,12,0,0,1,140,188Zm40,0a12,12,0,1,1-12-12A12,12,0,0,1,180,188Z'%3E%3C/path%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 1.6rem top 50%;
}

.folha .calc:hover {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='white' viewBox='0 0 256 256'%3E%3Cpath d='M80,120h96a8,8,0,0,0,8-8V64a8,8,0,0,0-8-8H80a8,8,0,0,0-8,8v48A8,8,0,0,0,80,120Zm8-48h80v32H88ZM200,24H56A16,16,0,0,0,40,40V216a16,16,0,0,0,16,16H200a16,16,0,0,0,16-16V40A16,16,0,0,0,200,24Zm0,192H56V40H200ZM100,148a12,12,0,1,1-12-12A12,12,0,0,1,100,148Zm40,0a12,12,0,1,1-12-12A12,12,0,0,1,140,148Zm40,0a12,12,0,1,1-12-12A12,12,0,0,1,180,148Zm-80,40a12,12,0,1,1-12-12A12,12,0,0,1,100,188Zm40,0a12,12,0,1,1-12-12A12,12,0,0,1,140,188Zm40,0a12,12,0,1,1-12-12A12,12,0,0,1,180,188Z'%3E%3C/path%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 1.6rem top 50%;
}

.rel .emission {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='gray' viewBox='0 0 256 256'%3E%3Cpath d='M216,40H40A16,16,0,0,0,24,56V200a16,16,0,0,0,16,16H216a16,16,0,0,0,16-16V56A16,16,0,0,0,216,40Zm0,160H40V56H216V200ZM184,96a8,8,0,0,1-8,8H80a8,8,0,0,1,0-16h96A8,8,0,0,1,184,96Zm0,32a8,8,0,0,1-8,8H80a8,8,0,0,1,0-16h96A8,8,0,0,1,184,128Zm0,32a8,8,0,0,1-8,8H80a8,8,0,0,1,0-16h96A8,8,0,0,1,184,160Z'%3E%3C/path%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 1.6rem top 50%;
}

.rel .emission:hover {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='white' viewBox='0 0 256 256'%3E%3Cpath d='M216,40H40A16,16,0,0,0,24,56V200a16,16,0,0,0,16,16H216a16,16,0,0,0,16-16V56A16,16,0,0,0,216,40Zm0,160H40V56H216V200ZM184,96a8,8,0,0,1-8,8H80a8,8,0,0,1,0-16h96A8,8,0,0,1,184,96Zm0,32a8,8,0,0,1-8,8H80a8,8,0,0,1,0-16h96A8,8,0,0,1,184,128Zm0,32a8,8,0,0,1-8,8H80a8,8,0,0,1,0-16h96A8,8,0,0,1,184,160Z'%3E%3C/path%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 1.6rem top 50%;
}

.dropdown,
.drop,
.func,
.folha,
.rel,
.help {
  width: 100%;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 0 40px -10px #000;
  color: #505050;
  margin-top: 24px;
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s;
}

.down {
  max-height: 150px;
  margin-bottom: 16px;
}

.arrow,
.arrow2,
.arrow3,
.arrow4,
.arrow5,
.arrow6 {
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #ffffff;
  position: absolute;
  right: 20px;
  bottom: -14px;
  display: none;
}

.arrow.gone,
.arrow2.gone,
.arrow3.gone,
.arrow4.gone,
.arrow5.gone,
.arrow6.gone {
  display: block;
}

.menu p {
  padding: 15px 14px;
  margin: 0;
  transition: all 0.1s;
}

.menu p:hover {
  background: var(--bg-hover);
  transform: scale(1.03);
  color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 30px -10px #000;
}

.ajuda {
  background-image: none;
}

.ajuda:hover {
  background-image: none;
}

footer {
  width: 100%;
  height: 100px;
  background: var(--bg-nav);
  position: absolute;
  bottom: 0;
  z-index: -1;
}

a:hover {
  transform: scale(1.1);
}
