/* GLOBAL */

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --bg-color: #000a0f;
}

ul {
  list-style: none;
}

body {
  font-size: 1.6rem;

  background-color: var(--bg-color);
}
